<div class="auth main-container">
  <div class="content-box">
    <h1>Profile</h1>
    {{#if owner}}
    <a href="/editprofile/{{user.id}}">Edit profile</a>
    {{/if}}
    <img src="{{user.imagePath}}">
    <h3>{{user.username}}</h3>
    <div>Your position in ranking is: {{position}}</div>
    <div>{{user.stadistics}}</div>

    <p><a class="link" href="/main">Back to home</a></p>
  </div>
</div>