<div class="auth main-container">
  <div class="content-box profile">
    <p><a class="link" href="/main">Back to home</a></p>
    <div class="header">
      <div class="profile-pic">
        <img src="{{user.imagePath}}">
      </div>
      <div class="main-info">
        <h1>{{user.username}}</h1>
        <p class="ranking"><span>#{{position}}</span> - {{user.points}} points</p>
      </div>
      {{#if owner}}
        <div class="edit">
          <a href="/editprofile/{{user.id}}" class="button simple small">Edit profile</a>
        </div>
      {{/if}}
    </div>

    <div class="questions">
      <div class="col">
        <p class="quantity total">-</p>
        <p class="type">Total</p>
      </div>
      <div class="col">
        <p class="quantity good">-</p>
        <p class="type">Good</p>
      </div>
      <div class="col">
        <p class="quantity bad">-</p>
        <p class="type">Bad</p>
      </div>
    </div>
    
    <div id="graph">

    </div>

    <div class="categories">
      <div class="category">
        <img src="/images/icons/general.svg" alt="General">
        <p class="title" style="color: #F0D909">General</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.general.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.general.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
      <div class="category">
        <img src="/images/icons/art.svg" alt="Art">
        <p class="title" style="color: #673AB7">Art</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.art.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.art.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
      <div class="category">
        <img src="/images/icons/entertainment.svg" alt="Entertainment">
        <p class="title" style="color: #F44336">Entertainment</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.entertainment.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.entertainment.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
      <div class="category">
        <img src="/images/icons/historyandgeography.svg" alt="History&Geography">
        <p class="title" style="color: #03A9F4">History & Geography</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.historyAndGeography.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.historyAndGeography.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
      <div class="category">
        <img src="/images/icons/scienceandnature.svg" alt="Science&Nature">
        <p class="title" style="color: #4CAF50">Science & Nature</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.science.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.science.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
      <div class="category">
        <img src="/images/icons/sports.svg" alt="Sports">
        <p class="title" style="color: #FF9800">Sports</p>
        <div class="result">
          <div class="col">
            <p class="quantity good">{{user.stadistics.sports.correct}}</p>
            <p class="type">Good</p>
          </div>
          <div class="col">
            <p class="quantity bad">{{user.stadistics.sports.failed}}</p>
            <p class="type">Bad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>const data = {{user.stadistics}}</script>
<script src="/javascripts/lib/d3.v3.min.js"></script>
<script src="/javascripts/stadistics.js"></script>